<a href="https://colab.research.google.com/github/KilHwanKim/practiceB/blob/main/6603_N%EA%B3%BC_M(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def back(x):
    global n,m,number_list
    if x==m:
        print(" ".join([str(i) for i in number_list]))
    else:
        for i in range(1,n+1):
            number_list[x]=i
            back(x+1)
n,m = map(int,input().split())
number_list = [0]*m
back(0)

3 3
1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3