<a href="https://colab.research.google.com/github/KilHwanKim/practiceB/blob/main/6603_%EB%A1%9C%EB%98%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def back(x):
    global c,n,number
    if x==6:
        print(" ".join([str(number[i]) for i in c]))
    else:
        for i in range(n):
            c[x]=i
            if x==0 or c[x-1] < c[x]:
                
                back(x+1)
while True:
    c= [0]*6
    in_list = list(map(int,input().split()))
    if in_list ==[0]:
        break
    
    n = in_list[0]
    number = in_list[1::]
    back(0)
    print()

7 1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5 7
1 2 3 4 6 7
1 2 3 5 6 7
1 2 4 5 6 7
1 3 4 5 6 7
2 3 4 5 6 7

8 1 2 3 5 8 13 21 34
1 2 3 5 8 13
1 2 3 5 8 21
1 2 3 5 8 34
1 2 3 5 13 21
1 2 3 5 13 34
1 2 3 5 21 34
1 2 3 8 13 21
1 2 3 8 13 34
1 2 3 8 21 34
1 2 3 13 21 34
1 2 5 8 13 21
1 2 5 8 13 34
1 2 5 8 21 34
1 2 5 13 21 34
1 2 8 13 21 34
1 3 5 8 13 21
1 3 5 8 13 34
1 3 5 8 21 34
1 3 5 13 21 34
1 3 8 13 21 34
1 5 8 13 21 34
2 3 5 8 13 21
2 3 5 8 13 34
2 3 5 8 21 34
2 3 5 13 21 34
2 3 8 13 21 34
2 5 8 13 21 34
3 5 8 13 21 34

0